<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Some Website</title>
</head>
<body>
    {{> header}}
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam possimus quidem nobis tempore quo sit consectetur nam, sunt, nulla quia repudiandae fugiat maiores est aliquid unde illo quibusdam aperiam nesciunt!</p>
    {{> footer}}
</body>
</html>